<% if @path.nil? %>
<% else %>
  <% if @path.exists? %>
    <%= form_with do |form|%>
      <%= form.collection_radio_buttons :flight_choice, @path.all, :id, :flight_path_with_details, { checked: @path.first.id } do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
          <%=  %>
        </div>
      <% end %>
    <% end %>
    <%# end %> 
  <% else %>
    <% flash.now[:alert] = "That flight does not exist." %>
  <% end %>
<% end %>

