<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert] %>
      <h1><%= alert %></h1>
    <% end %>
    <% if flash[:notice] %>
      <h1><%= notice %></h1>
    <% end %>
    <%= yield %>
  </body>
</html>
